asgiref          
bidict           
blinker          
chardet          
click            
colorama        
Django           
Flask            
Flask-SocketIO   
Flask-WTF       
h11              
itsdangerous     
Jinja2           
MarkupSafe       
pillow          
pip              
PyPDF2           
python-engineio  
python-socketio  
reportlab        
setuptools      
simple-websocket 
sqlparse         
tzdata           
Werkzeug         
wsproto          
WTForms 
gunicorn         